
body {
  background-color: lightblue;
}

{
  width: 100%; /* Replace with desired width */
  border-radius: 5px; /* Replace with desired border radius */
}

/* Apply properties to all h1 elements */
h1 {
  color:black; /* Replace with desired color */
  font-size: 36px; /* Replace with desired font size */
  font-weight: bold; /* Replace with desired font weight */
  text-decoration: underline; /* Replace with desired text decoration */
}
